.Modal{
    width: 700px;
    position: fixed;
    top: -200%;
    transform: translate(-50%,-55%);
    background-color: white;
    left: 50%;

    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    border-radius: 10px;
    padding: 30px 20px;
    z-index: 500;
    transition: all .5s;
    max-height: 95vh;

}
.Modal.Show{
    top: 50%;
}
.Modal h2{
    font-size: 28px;
    text-align: center;
    font-weight: 600;
    
}
.Modal h3{
    font-weight: 400;
    
}
@media (max-width: 1100px){
    .Modal{
        width:650px;
    }
} 


@media (max-width: 800px){
    .Modal{
        width:400px;
        transform: translate(-50%,-50%);
        max-height: 95vh;
    }
} 

@media (max-width: 550px){
    .Modal{
        width:260px;
        
    }
    .Modal h2{
        font-size: 20px;
        
    }
    .Modal h3{
        font-size: 18px;
        font-weight: 400;
    }
} 
@media (max-width: 400px){
    .Modal h3{ 
        font-size: 16px;

    }
    
} 
@media (max-height: 500px){
    .Modal{
        transform: translate(-50%,-50%);
        padding: 15px 20px;
    }
} 
