.wrapper{
    overflow-y: auto;
}
.chat{
    width: 400px;
    display: flex;
    align-items: center;
    padding: 10px 5px;
}
.chat:hover{
    background-color: rgb(206, 206, 206);
    cursor: pointer;
}
.chat+.chat{
    margin-top: 15px;
    
}
.name{
    font-size: 22px;
    margin-left: 10px;
    font-weight: 400;
}
.imageWrapper{
    width: 50px;
    height: 50px;
    background-color: gray;
    border-radius: 50%;
}