.Chat{
    
    width: 75%;
    height: 100%;
    background-color: rgb(228, 228, 228);

    /* position: relative; */
}
.Status{
    font-size: 24px;
    color: white;
    width: fit-content;
    background-color: gray;
    border-radius: 15px;
    padding: 5px 15px;
    margin: 0 auto;
    margin-top: 300px;
}
.Header{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 40px;
}
.HeaderName{
    font-size: 20px;
}
.HeaderButtonsWrapper{
    display: flex;
}
.HeaderButton{

    background-color: rgb(52, 208, 255);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 500;
}
.HeaderButton+.HeaderButton{
    margin-left: 10px;
}
.HeaderButton:hover{
    background-color: rgb(27, 202, 255);
    cursor: pointer;
}
.HeaderButtonCancel{
    color: rgb(27, 202, 255);
    font-size: 15px;
    font-weight: 600;
    background-color: transparent;
    border:none;
    outline: none;
}
.HeaderButtonCancel:hover{
    cursor: pointer;
}
.HeaderBackArrow{
    display: block;
    width: 20px;
    margin-right: 40px;
}
.HeaderBackArrow:hover{
    cursor: pointer;
}
.ChatWindow{
    /* height: calc(100vh - 70px - 50px); */
    /* height: auto; */
    width: 100%;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: flex-end; */
    overflow: auto;
    background: url("../../assets/chat_background.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    padding: 20px;

}
.ReplyMessagesPadding{
    opacity: 0;
    height: 46px;
}
.InputWrapper{
    border-top: 3px solid rgb(197, 197, 197);
    display: flex;
    padding: 5px;
    display: flex;
    align-items: center;
    height: 70px;
    position: relative;
}
.ReplyWrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-100%);
    height: 46px;
    background-color: rgb(228, 228, 228);

    padding: 5px 10px;
    padding-left: 30px;
}
.ReplyUser{
    color: rgb(99, 171, 253);
    font-weight: 700;
}
.ReplyCancel{
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
}
.ReplyCancel:hover{
    cursor: pointer;
}
.Input{
    outline: none;
    width: calc(100% - 40px - 40px - 20px);
    margin-right: 15px;
    height: 100%;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px 15px;
}
.SendIconWrapper{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}


.SendIcon{
    width: 80%;
    height: 80%;
    transform: translateX(-5%);
    margin: 0;
    display: block;
}



@media (max-width: 1200px){
    .Chat{
        width: 70%;

    }
} 
@media (max-width: 900px){
    .Chat{
        width: 65%;

    }
    .SendIconWrapper{
        width: 30px;
        height: 30px;
    }
} 
@media (max-width: 650px){
    .Chat{
        width: 100%;
    }
    .InputWrapper{
        width: 95%;
        margin: 0 auto;
    }
} 